.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #e2e2e2;
    border-top: 0;
    font-size: max(1vw,10px);
}

.sidebar p{
    color: #495757;
}

.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #e2e2e2;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}

.sidebar-option.active{
    background-color: #e2e2e2;
    border-color: #495757;

}

@media (max-width:900) {
    .sidebar-option p{
        display: none;
    }
    
}